Repository getto-systems/psycher-getto: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, image_build, image_push, release, release_success, release_failure

Path conditions:
  test: any of: index.js, lib/**/*, test/**/*
  image_build: any of: package-lock.json, Dockerfile, Dockerfile-test
  image_push: any of: package-lock.json, Dockerfile, Dockerfile-test
  release: any of: .release-version
  release_success: any of: .release-version
  release_failure: any of: .release-version

fix: vulnerabilities
  Dockerfile
Due: image_build, image_push

update: image
  .getto-hangar-image
  .gitlab-ci.yml
Due: none

fix: jest version
  package-lock.json
  package.json
Due: image_build, image_push

version bumped: 2.5.8
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.5.9
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.5.10
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.5.11
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.5.12
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

fix: gitlab-ci
  .gitlab-ci.yml
Due: none

version bumped: 2.5.13
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.5.14
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

update: Dockerfile
  Dockerfile
Due: image_build, image_push

fix: deploy.sh
  scripts/deploy.sh
Due: none

version bumped: 2.5.15
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.5.16
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.5.17
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

fix: notice scripts
  .bump-ignore
  .gitlab-ci.yml
  dist/notify-release-failure.sh
  dist/notify-release-success.sh
Due: none

fix: gitlab ci
  .gitlab-ci.yml
Due: none

version bumped: 2.6.0
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

fix: docker-wrapper rc path
  .envrc
Due: none

fix: baseimage
  .getto-hangar-trivy-disable
  .getto-hangar-trivy-opts
  .gitlab-ci.yml
  Dockerfile
Due: image_build, image_push

version bumped: 2.6.1
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure
