Repository getto-systems/psycher-getto: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, image_build, image_test, image_push, release, release_success, release_failure

test:
  stage: test
  before_script:
  - ./scripts/restore.sh
  script:
  - npm test

image_build:
  stage: image_build
  image: getto/hangar:latest
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_CONTENT_TRUST: 1
  services:
  - docker:dind
  cache:
    key:
      files:
      - Dockerfile
    paths:
    - .build
  before_script:
  - mkdir -p .build
  script:
  ...

image_test:
  stage: image_test
  needs:
  - image_build
  image: getto/hangar:latest
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_CONTENT_TRUST: 1
  services:
  - docker:dind
  cache:
    policy: pull
    key:
      files:
      - Dockerfile
    paths:
    - .build
  script:
  ...

image_push:
  stage: image_push
  image: getto/hangar:latest
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_CONTENT_TRUST: 1
  before_script:
  - git config user.email admin@getto.systems
  - git config user.name getto
  ...

release:
  stage: release
  before_script:
  - ./scripts/restore.sh
  script:
  - npm test
  - curl https://trellis.getto.systems/ci/bump-version/1.2.1/push_tags.sh | bash
  - ./scripts/deploy.sh

release_success:
  stage: release_notify
  when: on_success
  image: buildpack-deps:disco-curl
  before_script:
  - export channel=$SLACK_CHANNEL
  script:
  - cat ./dist/notify-release.sh | bash -s -- -l $GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true success

release_failure:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:disco-curl
  before_script:
  - export channel=$SLACK_CHANNEL
  script:
  - cat ./dist/notify-release.sh | bash -s -- -l $GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true failure

version bumped: 2.6.2
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

fix: gitlab-ci
  .gitlab-ci.yml
  .message/bump.sh
  .message/fix-image.sh
  .message/fix-vulnerabilities.sh
Due: none

fix: gitlab-ci
  .gitlab-ci.yml
Due: none

fix: Dockerfile
  Dockerfile
Due: image_build, image_test, image_push

update: image
  .getto-hangar-image
  .gitlab-ci.yml
Due: none

fix: gitlab-ci
  .gitlab-ci.yml
  Dockerfile
Due: image_build, image_test, image_push

fix: deploy script
  scripts/check_version.sh
  scripts/deploy.sh
Due: none

version bumped: 2.6.3
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.6.4
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

remove: deprecated scripts
  dist/notify-deploy.sh
  dist/notify-push_latest.sh
  dist/notify-release.sh
Due: none

version bumped: 2.7.0
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

remove: unused file
  .getto-hangar-trivy-disable
Due: none

fix: vulnerabilities
  Dockerfile
Due: image_build, image_test, image_push

version bumped: 2.7.1
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

fix: gitlab ci
  .gitlab-ci.yml
Due: none

version bumped: 2.7.2
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.7.3
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.7.4
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.7.5
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

Path conditions:
  test: any of: index.js, lib/**/*, test/**/*
  image_build: any of: package-lock.json, Dockerfile, Dockerfile-test
  image_test: any of: package-lock.json, Dockerfile, Dockerfile-test
  image_push: any of: package-lock.json, Dockerfile, Dockerfile-test
  release: any of: .release-version
  release_success: any of: .release-version
  release_failure: any of: .release-version
