Repository getto-systems/psycher-getto: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, image_build, image_test, image_push, release, release_success, release_failure

test:
  stage: test
  before_script:
  - ./scripts/restore.sh
  script:
  - npm test

image_build:
  stage: image_build
  image: docker:stable
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_CONTENT_TRUST: 1
  services:
  - docker:dind
  artifacts:
    paths:
    - .build/image.tar
    expire_in: 1 day
  before_script:
  - mkdir -p .build
  - export image=image:$CI_COMMIT_SHORT_SHA
  ...

image_test:
  stage: image_test
  needs:
  - image_build
  before_script:
  - curl $TRELLIS_HANGAR/install_trivy.sh | sh -s -- vendor
  - curl $TRELLIS_HANGAR/install_dockle.sh | sh -s -- vendor
  script:
  - ./vendor/dockle --exit-code 1 --input .build/image.tar
  ...

image_push:
  stage: image_push
  image: docker:stable
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_CONTENT_TRUST: 1
  services:
  - docker:dind
  before_script:
  - apk update && apk add bash git curl
  - git config user.email admin@getto.systems
  - git config user.name getto
  ...

release:
  stage: release
  before_script:
  - ./scripts/restore.sh
  script:
  - npm test
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | sh
  - ./scripts/deploy.sh

release_success:
  stage: release_notify
  when: on_success
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=getto:$(cat .release-version)
  script:
  ...

release_failure:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=getto:$(cat .release-version)
  script:
  ...

update: image
  .getto-hangar-image
  .gitlab-ci.yml
Due: none

version bumped: 2.7.6
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.7.7
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

fix: vulnerabilities
  Dockerfile
Due: image_build, image_test, image_push

version bumped: 2.7.8
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

Path conditions:
  test: any of: index.js, lib/**/*, test/**/*
  image_build: any of: package-lock.json, Dockerfile, Dockerfile-test
  image_test: any of: package-lock.json, Dockerfile, Dockerfile-test
  image_push: any of: package-lock.json, Dockerfile, Dockerfile-test
  release: any of: .release-version
  release_success: any of: .release-version
  release_failure: any of: .release-version
